@{
    ViewData["Title"] = "Registro Vacina";
}

<div class="container">
    <h1 class="display-5 text-center">Lista de registros de vacinação</h1>
    <br>
    <p class="blockquote-footer text-center">
        Selecione um produtor e uma propriedade para acessar as informações
    </p>
    <div class="row d-flex justify-content-between">
        <button type="button" data-bs-toggle="modal" href="#adicionarRegistroVacina" role="button"
            class="btn btn-success col-md-3 mt-2" data-bind="click: clearLabels" id="buttonAdicionar" disabled>
            Adicionar
        </button>
        <div class="d-flex col-md-4 mt-2">            
            <select data-bind="options: produtores,
                       optionsText: 'nome',
                       value: selectedProdutor,
                       optionsValue: 'idProdutor',
                       optionsCaption: 'Selecione um produtor'
                    " name="selectProdutor" id="inputProdutor" class="form-select">
            </select>
        </div>
        <div class="d-flex col-md-4 mt-2">            
            <select data-bind="options: propriedades,
                       optionsText: 'nome',
                       value: selectedPropriedade,
                       optionsValue: 'inscricaoEstadual',
                       optionsCaption: 'Selecione uma propriedade'        
                       " name="selectPropriedade" id="inputPropriedade" class="form-select">
            </select>
        </div>
    </div>
    <div class="row">
        <table id="table-content" class="table table-striped table-hover hide-per">
            <thead>
                <tr>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Vacina</th>
                    <th scope="col">Especie </th>
                    <th scope="col">Data da Vacina</th>
                    <th scoped="col">Cancelar</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: registrovacinas">
                <tr data-bind="click: getRegistroSelecionado">
                    <td data-bind="text: quantidade"></td>
                    <td data-bind="text: vacina"></td>
                    <td data-bind="text: especie"></td>
                    <td data-bind="text: dataDaVacina"></td>
                    <td><a href="#cancelarRegistroVacina" data-bs-toggle="modal" class="btn btn-danger fas fa-edit">Cancelar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="adicionarRegistroVacina" aria-hidden="true" aria-labelledby="adicionarRegistroVacinaLabel"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container">
            <div class="container">
                <div class="modal-header">
                    <button class="btn btn-close" data-bs-dismiss="modal" ></button>
                </div>
                <form class="row p-3 needs-validation mb-3" id="formProdutor" method="POST" data-bind="submit: Save">
                    <div class="col-md-6">
                        <label for="inputQuantidade" class="form-label">Quantidade</label>
                        <input type="number" name="quantidade" class="form-control" min="1" data-bind="value: quantidade" id="inputQuantidadeAdd" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputDataDaVacina" class="form-label">Data Da Vacina</label>
                        <input type="date" name="dataDaVacina" class="form-control" data-bind="value: dataDaVacina" id="inputDataDaVacinaAdd" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputRebanho" class="form-label">Especie</label>                        
                        <select data-bind="options: rebanho,
                       optionsText: 'especie',
                       value: idRebanho,
                       optionsValue: 'idRebanho',
                       optionsCaption: 'Selecione uma Especie'" name="idRebanho" id="inputRebanho" class="form-select" required>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputVacina" class="form-label">Vacina</label>
                        <select data-bind="options: vacinas,
                       optionsText: 'doenca',
                       value: idVacina,
                       optionsValue: 'idVacina',
                       optionsCaption: 'Selecione uma Vacina'" name="idVacina" id="inputVacina" class="form-select" required>
                        </select>                        
                    </div>                     
                    <div class="modal-footer mt-3">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancelarRegistroVacina" aria-hidden="true" aria-labelledby="cancelarRegistroVacinaLabel"
     tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="row p-3">
        <h5 class="card-title">Data:<span data-bind="text: dataDaVacina"></span></h5>
        <p class="card-text">Quantidade Vacinada: <span data-bind="text: quantidade"></span></p>
        <p class="card-text">Vacina: <span data-bind="text: vacina"></span></p>        
        <p class="card-text">Especie: <span data-bind="text: especie"></span></p>
        <div>
          <div class="modal-footer">
            <p>Deseja realmente excluir este registro:</p>
            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" data-bind="click: cancelarRegistroVacina">Sim
            </button>
            <button  class="btn btn-primary" data-bs-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loader-wrapper" tabindex="-1"><span class="loader"><span class="loader-inner"></span></span></div>
@section scripts{
    <script src='../js/RegistroVacinaViewModel.js'></script>
}
