@{
    ViewData["Title"] = "Produtor";
}

<div class="container">
    <h1 class="display-5 text-center">Lista de produtores</h1>
    <br>
    <p class="blockquote-footer text-center">
        Selecione um produtor para acessar as informações
    </p>
    <div class="row d-flex justify-content-between">
        <button type="button" data-bs-toggle="modal" href="#adicionarProdutor" role="button"
            class="btn btn-success col-md-3 mt-2" data-bind="click: clearLabels">
            Adicionar
        </button>
        <div class="d-flex col-md-4 mt-2">
            <input class="form-control me-2" type="search" placeholder="Pesquisar por CPF"
                aria-label="Search" data-bind="value: findCPF" maxlength="11" >
            <button href="#showDetails" class="btn btn-outline-success ms-1" data-bs-toggle="modal"
                         data-bind="click: GetProdutor">Procurar</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Detalhes</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: produtores">
                <tr data-bind="click: getprodutorselecionado">
                    <td data-bind='text: cpf'></td>
                    <td data-bind="text: nome"></td>
                    <td><a href="#showDetails" class="btn btn-primary ms-1" data-bs-toggle="modal"
                            data-bind="click: DetalharProdutor">Detalhes</a>
                        <a href="#editarProdutor" data-bs-toggle="modal" class="btn btn-warning fas fa-edit">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="adicionarProdutor" aria-hidden="true" aria-labelledby="adicionarProdutorLabel"
    tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container">
            <div class="container">
                <div class="modal-header">
                    <button class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form class="row p-3 needs-validation" id="formProdutor" method="POST" data-bind="submit: Save">
                    <div class="col-md-6">
                        <label for="inputNome" class="form-label">Nome</label>
                        <input type="text" name="nome" class="form-control" data-bind="value: nome" id="inputNomeAdd"
                            required>

                    </div>
                    <div class="col-md-6">
                        <label for="inputCPF" class="form-label">CPF</label>
                        <input oninput="mascara(this)" type="text" name="cpf" class="form-control"
                            data-bind="value: cpf" id="inputCPFAdd" required>
                    </div>
                    <div class="col-md-10">
                        <label for="inputRua" class="form-label">Rua</label>
                        <input type="text" name="rua" class="form-control" id="inputRuaAdd" data-bind="value: rua"
                            required>

                    </div>
                    <div class="col-md-2">
                        <label for="inputNumero" class="form-label">Numero</label>
                        <input type="number" name="numero" class="form-control" id="inputNumeroAdd"
                            data-bind="value: numero" min="1" required>

                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Municipio</label>
                        <select data-bind="options: municipios,
                        optionsText: 'nome',
                        value: idMunicipio,
                        optionsValue: 'idMunicipio',
                        optionsCaption: 'Selecione um Municipio'" name="idMunicipio" id="inputState"
                            class="form-select" required>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showDetails" aria-hidden="true" aria-labelledby="showDetails" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content container">
            <div class="container">
                <div class="modal-header">
                    <button class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="row">
                    <div class="px-4 py-5 my-5 text-center">
                        <h1 class="display-5 fw-bold" data-bind="text: nome"></h1>
                        <div class="col-lg-6 mx-auto">
                            <p class="lead mb-2" data-bind="text: cpf">CPF: dasdas</p>
                            <p class="lead mb-2">Endereco: <span data-bind="text: rua"></span>,<span
                                    data-bind="text: numero"></span></p>
                            <p class="lead mb-4"><span data-bind="text: municipio"></span> - <span
                                    data-bind="text: estado"></span></p>
                        </div>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <button class="btn btn-warning btn-lg px-4 gap-3" data-bs-toggle="modal"
                                data-bs-target="#editarProdutor">Editar Produtor
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">                   
                    <div class="col-lg-12">
                        <h1 class="display-6 text-center">Propriedades</h1>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Rua</th>
                                    <th scope="col">Numero</th>
                                    <th scope="col">Inscrição Estadual</th>
                                    <th scope="col">Detalhes</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: propriedades">
                                <tr>
                                    <td data-bind="text: nome"></td>
                                    <td data-bind="text: rua"></td>
                                    <td data-bind="text: numero"></td>
                                    <td data-bind="text: inscricaoEstadual"></td>
                                    <td><button class="btn btn-primary">Detalhes</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <h1 class="display-6 text-center">Rebanhos</h1>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nome Propriedade</th>
                                    <th scope="col">Quantidade Total</th>
                                    <th scope="col">Quantidade Vacinada Contra Aftosa</th>
                                    <th scope="col">Quantidade Vacinada Contra Brucelose</th>
                                    <th scope="col">Especie</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: rebanhos">
                                <tr>
                                    <td data-bind="text: nomePropriedade"></td>
                                    <td data-bind="text: quantidadeTotal"></td>
                                    <td data-bind="text: quantidadeVacinadaAftosa"></td>
                                    <td data-bind="text: quantidadeVacinadaBrucelose"></td>
                                    <td data-bind="text: especie"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <h1 class="display-6 text-center">Vendas</h1>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Propriedade de origem</th>
                                    <th scope="col">Propriedade de destino</th>
                                    <th scope="col">Espécie</th>
                                    <th scope="col">Finalidade de venda</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: vendasDoProdutor">
                                <tr>
                                    <td data-bind="text: quantidade"></td>
                                    <td data-bind="text: propriedadeOrigem.nome"></td>
                                    <td data-bind="text: propriedadeDestino.nome"></td>
                                    <td data-bind="text: especie.nome"></td>
                                    <td data-bind="text: finalidadeDeVenda.nome"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editarProdutor" aria-hidden="true" aria-labelledby="editarProdutorLabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="row" method="POST">
                        <div class="col-md-6">
                            <label for="inputNome" class="form-label">Nome</label>
                            <input type="text" name="nome" class="form-control" data-bind="value: nome" id="inputNome">
                        </div>
                        <div class="col-md-6">
                            <label for="inputCPF" class="form-label">CPF</label>
                            <input disabled type="text" name="cpf" class="form-control" data-bind='value: cpf'
                                id="inputCPF">

                        </div>
                        <div class="col-md-10">
                            <label for="inputRua" class="form-label">Rua</label>
                            <input type="text" name="rua" class="form-control" id="inputRua" data-bind="value: rua">

                        </div>
                        <div class="col-md-2">
                            <label for="inputNumero" class="form-label">Numero</label>
                            <input type="text" name="numero" class="form-control" id="inputNumero"
                                data-bind="value: numero">

                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Estado</label>
                            <select data-bind="options: municipios,
                       optionsText: 'nome',
                       value: idMunicipio,
                       optionsValue: 'idMunicipio',
                       optionsCaption: 'Selecione um Municipio'                   
                       "name="idMunicipio" id="inputMunicipio" class="form-select" required>
                            </select>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" data-bind="click: update">Atualizar</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src='../js/ProdutorViewModel.js'></script>
}