@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <div class="row">
          <h1 class="display-4 mt-5">Bem vindo ao Controle de Vacinação de Bovideos</h1>   
          <p class="lead p-5">Escolha algum item no campo de navegação para iniciar!</p>
      </div>     
  </div>
</div>